<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <link rel="stylesheet" href="/components/Header/Header.css" />
    <link rel="stylesheet" href="/components/Footer/Footer.css" />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="./Products.css" />
    <link rel="stylesheet" href="/components/Product/Product.css" />
    <title>STRIKE ZONE</title>
  </head>
  <body>
    <section class="products-wrapper">
      <div class="products"></div>
    </section>
    <script
      src="https://kit.fontawesome.com/a14c558b32.js"
      crossorigin="anonymous"
    ></script>
    <script src="/components/Header/Header.js" type="module"></script>
    <script src="/components/Footer/Footer.js" type="module"></script>
    <script src="./Products.js" type="module"></script>
  </body>
</html>
