a {
  color: #000;
  text-decoration: none;
}

.products-wrapper {
  width: 1000px;
  height: auto;
  margin: auto;
  padding: 30px;
  margin: 0 auto;
}

.products-list-header {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  animation: leftAppear 0.5s ease-out;
}

.products-list-header .products-team {
  font-size: 48px;
  font-weight: 300;
}

.products-list-header .products-category {
  position: relative;
  width: fit-content;
  font-size: 40px;
  color: #fff;
  padding: 5px 20px 0 20px;
  background-color: #000;
  user-select: none;
}

.products-list-header .products-category:hover {
  cursor: pointer;
}

.products-category-nav {
  height: 100%;
  position: absolute;
  top: 0;
  left: 100%;
  transform: scaleX(0);
  transition: transform 0.3s;
  transform-origin: left;
}

.products-list-header .products-category:hover .products-category-nav {
  display: block;
  transform: scaleX(1);
}

.products-category-list {
  display: flex;
  height: 100%;
  background-color: #000;
}

.products-category-list .products-category-item {
  padding: 5px 20px 0 20px;
}

.products-category-list .products-category-item a {
  color: #fff;
}

.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px;
  max-width: 1136px;
  color: #000;
  margin-bottom: 100px;
}

.sort-list {
  display: flex;
  margin-bottom: 20px;
  animation: leftAppear 1s ease-out;
}

.sort-list .selected-sort {
  font-weight: 700;
}

.sort-list .sort-list-item {
  font-size: 20px;
  color: #a0a0a0;
}

.sort-list .sort-list-item:hover {
  cursor: pointer;
}

.sort-list .sort-list-item::after {
  cursor: default;
  content: " | ";
  margin-right: 6px;
}

.sort-list .sort-list-item::after:hover {
  cursor: alias;
}

.sort-list .sort-list-item:last-child:after {
  content: "";
}

.search-form {
  display: flex;
  animation: leftAppear 0.75s ease-out;
}

.search-form input {
  width: 200px;
  margin: 0 10px 20px 0;
}

.no-item {
  display: block;
  width: 300px;
  font-size: 20px;
  font-weight: 600;
  margin-top: 30px;
  animation: leftAppear 1s ease-out;
}

@keyframes leftAppear {
  0% {
    transform: translateX(-30px);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}