.scroll-box {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 100px;
  right: 100px;
}

.scroll-box button {
  width: fit-content;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border: none;
  background-color: #000;
  color: #fff;
  opacity: 0.1;
  font-size: 50px;
  font-weight: 700;
  transition: transform 0.5s;
}

.scroll-box button:hover {
  cursor: pointer;
  opacity: 0.3;
}

.scroll-box button:hover {
  transform: scale(1.2);
}

.scroll-box .scroll-top-button {
  margin-bottom: 20px;
}