<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="PasswordReset.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <title>STRIKE ZONE</title>
  </head>
  <body>
    <section class="password-reset-wrapper">
      <h3 class="title is-3">비밀번호 변경</h3>
      <div class="reset-notice">
        비밀번호 초기화 시 재설정이 필요합니다.<br />비밀번호를 재설정해주세요.
      </div>
      <div class="password-reset-form-wrapper">
        <form class="password-reset-form">
          <div class="password-reset-input">
            <input
              type="password"
              placeholder="새로운 비밀번호"
              class="input user-email"
              id="newPassword"
              required
              autocomplete="off"
            />
            <p class="password-warning hidden">
              영문, 숫자, 특수문자를 포함한<br />8 ~ 16자의 비밀번호를
              입력하세요.
            </p>
            <input
              type="password"
              placeholder="비밀번호 확인"
              class="input user-name"
              id="newPasswordVerify"
              required
              autocomplete="off"
            />
            <p class="password-verify-warning hidden">
              비밀번호가 일치하지 않습니다.
            </p>
          </div>
          <button type="submit" class="button is-dark" id="reset">변경</button>
        </form>
      </div>
    </section>
    <script type="module" src="PasswordReset.js"></script>
  </body>
</html>
