<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/components/Header/Header.css" />
    <link rel="stylesheet" href="/components/Footer/Footer.css" />
    <link rel="stylesheet" href="./OrderComplete.css" />
    <title>STRIKE ZONE</title>
  </head>
  <body>
    <div class="complete-wrapper">
      <div class="order-complete">
        <div class="cart-wrapper">
          <img
            class="cart"
            src="/assets/img/orderComplete/order-complete-cart.png"
            alt=""
          />
          <img class="ball" src="/assets/img/orderComplete/baseball.png" alt="" />
        </div>
        <h1>주문이 완료되었습니다!</h1>
        <button class="to-order-detail-button button is-black">
          주문 내역 확인하기
        </button>
      </div>
    </div>
  </body>
  <script src="/components/Header/Header.js" type="module"></script>
  <script src="/components/Footer/Footer.js" type="module"></script>
  <script src="./OrderComplete.js" type="module"></script>
</html>
