.main-wrapper, .products-wrapper, .order-wrapper, .order-complete, .content-container, .sign-wrapper {
  height: fit-content;
  min-height: 100%;
  padding-bottom: 210px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 210px;
  background-color: rgb(26, 26, 26);
}

footer .footer-wrapper {
  margin: 0 auto;
  padding-top: 40px;
  max-width: 1136px;
  color: rgb(170, 170, 170);
  font-size: 14px;
}

footer .footer-wrapper div h2 {
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 16px;
}

footer .footer-wrapper ul {
  display: flex;
  margin-bottom: 12px;
}

footer .footer-wrapper ul div {
  margin-right: 20px;
}

footer .footer-wrapper ul li {
  margin-right: 14px;
}

footer .footer-wrapper ul li a {
  color: rgb(170, 170, 170);
}

footer .footer-wrapper p {
  font-weight: 500;
  color: rgb(124, 124, 124);
}
