.user-info {
  max-width: 1136px;
  margin: 100px auto;
  padding: 30px 30px 70px 30px;
  width: 700px;
  height: auto;
  border: solid 1px #b4b4b4;
  border-radius: 10px;
  position: relative;
}
label {
  text-align: left;
}
#cheerTeam {
  display: flex;
  flex-flow: wrap;
}
#cheerTeam > label {
  width: 25%;
}
.teams {
  border: solid 1px #b4b4b4;
}
.teams > input[type='radio'] {
  display: none;
}
