<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/components/Header/Header.css" />
    <link rel="stylesheet" href="/components/Footer/Footer.css" />
    <link rel="stylesheet" href="Login.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <title>STRIKE ZONE</title>
  </head>
  <body>
    <section class="login-wrapper">
      <div class="form-box">
        <h3 class="title is-3">로그인</h3>
        <div class="login-form-wrapper">
          <form class="login-form">
            <div class="login-input">
              <div class="field-body">
                <div class="field">
                  <input
                    type="text"
                    placeholder="이메일"
                    class="input user-email"
                    id="loginId"
                    required
                  />
                </div>
              </div>
              <div class="field-body">
                <div class="field">
                  <input
                    type="password"
                    placeholder="비밀번호"
                    class="input user-password"
                    id="loginPassword"
                    required
                  />
                </div>
              </div>
            </div>
            <button type="submit" class="button is-dark" id="login">
              로그인
            </button>
          </form>
          <label class="checkbox login-info-save">
            <input type="checkbox" class="login-info-save-check" />
            로그인 정보 저장
          </label>
        </div>
        <div class="sign-up">
          <a href="/SignUp">
            <button class="button is-dark" id="signUp">회원가입</button>
          </a>
          <a href="/find-password">
            <button class="button is-dark" id="findPassword">
              비밀번호 찾기
            </button>
          </a>
      </div>

      </div>
    </section>
    <script type="module" src="Login.js"></script>
    <script type="module" src="/components/Header/Header.js"></script>
    <script type="module" src="/components/Footer/Footer.js"></script>
  </body>
</html>
