<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="Login.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <title>홈런볼 마켓</title>
  </head>
  <body>
    <section class="login-wrapper">
      <h3 class="title is-3">로그인</h3>
      <div class="login-form-wrapper">
        <form class="login-form">
          <div class="login-input">
            <div class="field-body">
              <div class="field">
                <p class="control is-expanded">
                  <input
                    type="text"
                    placeholder="이메일"
                    class="input user-email"
                    id="loginId"
                    required
                  />
                </p>
              </div>
            </div>
            <input
              type="password"
              placeholder="비밀번호"
              class="input user-password"
              id="loginPassword"
              required
            />
          </div>
          <button type="submit" class="button is-info" id="login">
            로그인
          </button>
        </form>
      </div>
      <div class="sign-up">
        <a href="/SignUp">
          <button class="button is-info" id="signUp">회원가입</button>
        </a>
        <a href="/find-password">
          <button class="button is-info" id="findPassword">
            비밀번호 찾기
          </button>
        </a>
      </div>
    </section>
    <script type="module" src="Login.js"></script>
    <script type="module" src="/js/header.js"></script>
    <script type="module" src="/js/footer.js"></script>
  </body>
</html>
