@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

html {
  background-color: rgb(241, 241, 241);
}

.main-wrapper {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}

.main-banner {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 530px;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
}

.banner-content-left {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  z-index: 999;
  width: 1136px;
  bottom: 50px;
}

@keyframes appears {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.main-banner .sub-text {
  width: fit-content;
  margin-bottom: 6px;
  font-size: 1.2rem;
  font-weight: 500;
  animation-name: appears;
  animation-duration: 0.8s;
  animation-timing-function: ease;
}

.main-banner .main-text {
  width: fit-content;
  margin-bottom: 24px;
  font-size: 4rem;
  line-height: 4rem;
  font-family: 'Secular One', sans-serif;
  font-weight: 800;
  color: #000;
  letter-spacing: -2px;
  animation-name: appears;
  animation-duration: 1s;
  animation-timing-function: ease;
}

.main-banner .CTA-button {
  border: none;
  border-radius: 6px;
  background-color: rgb(255, 95, 3);
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 600;
  left: 8%;
  width: 150px;
  height: 45px;
  padding: 10px;
  line-height: 1rem;
  cursor: pointer;
  margin-bottom: 36px;
  animation-name: appears;
  animation-duration: 1.2s;
  animation-timing-function: ease;
}

.main-banner .arrow-buttons {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 45%;
  z-index: 99999;
  width: 100%;
}

.main-banner .arrow-buttons button {
  margin-left: 20px;
  margin-right: 20px;
  width: 42px;
  height: 42px;
  background-color: transparent;
  border: none;
  color: rgb(0, 0, 0);
  opacity: 0.3;
  transition: 0.3s;
  cursor: pointer;
}

.main-banner .arrow-buttons button:hover {
  opacity: 1;
}

.main-banner .main-image {
  position: relative;
  z-index: 998;
  top: -10px;
  left: 28%;
  height: 630px;
  text-align: left;
  animation-name: imageAppears;
  animation-duration: 1s;
  animation-timing-function: ease;
}

.main-banner .main-image img {
  height: 100%;
}

@keyframes imageAppears {
  0% {
    transform: translateY(550px);
    opacity: 0;
  }
  50% {
    transform: translateY(550px);
    opacity: 0;
  }

  80% {
    transform: translateY(-25px);
    opacity: 1;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.main-banner .background-text {
  position: absolute;
  width: 100%;
  top: 100px;
  font-size: 15rem;
  font-family: 'Secular One', sans-serif;
  line-height: 12rem;
  text-align: center;
  font-weight: 900;
  color: rgb(239, 239, 239);
}

.main-banner .background-text span {
  display: inline-block;
  animation-name: flipText;
  animation-timing-function: ease;
}

@keyframes flipText {
  0% {
    transform: rotateX(100deg);
    opacity: 1;
  }
  100% {
    transform: rotateX(0deg);
    opacity: 1;
  }
}

.product-contents-container {
  max-width: 1136px;
  margin: 0 auto;
  margin-bottom: 10rem;
}

.product-list-container {
  margin-bottom: 8rem;
}

.product-list-container .title {
  color: rgb(65, 65, 65);
  text-align: center;
  font-weight: 300;
  margin-top: 70px;
  padding-bottom: 26px;
  font-weight: 800;
}
