* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: rgb(249, 249, 249);
}

.main-wrapper {
  max-width: 1136px;
  margin: 0 auto;
  margin-top: 36px;
  overflow: hidden;
}

.main-banner {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 100%;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  height: 400px;
  overflow: hidden;
}

.banner-content-left {
  display: flex;
  position: absolute;
  z-index: 999;
  margin-left: 10%;
  flex-direction: column;
  width: inherit;
  bottom: 50px;
}

@keyframes appears {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.main-banner .main-text {
  width: fit-content;
  margin-bottom: 24px;
  font-size: 3rem;
  line-height: 3rem;
  font-weight: 800;
  color: #000;
  letter-spacing: -2px;
  animation-name: appears;
  animation-duration: 1s;
  animation-timing-function: ease;
}

.main-banner .CTA-button {
  border: none;
  border-radius: 6px;
  background-color: rgb(13, 13, 15);
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 600;
  left: 8%;
  width: 150px;
  height: 45px;
  padding: 10px;
  line-height: 1rem;
  cursor: pointer;
  margin-bottom: 36px;
  animation-name: appears;
  animation-duration: 1.2s;
  animation-timing-function: ease;
}

.main-banner .arrow-buttons {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 45%;
  z-index: 99999;
  width: 100%;
}

.main-banner .arrow-buttons button {
  margin-left: 20px;
  margin-right: 20px;
  width: 42px;
  height: 42px;
  background-color: transparent;
  border: none;
  color: rgb(0, 0, 0);
  opacity: 0.3;
  transition: 0.3s;
  cursor: pointer;
}

.main-banner .arrow-buttons button:hover {
  opacity: 1;
}

.main-banner .main-image {
  position: relative;
  z-index: 998;
  top: -10px;
  left: 27%;
  height: 500px;
  text-align: left;
  animation-name: imageAppears;
  animation-duration: 1s;
  animation-timing-function: ease;
}

.main-banner .main-image img {
  height: 100%;
}

@keyframes imageAppears {
  0% {
    transform: translateY(550px);
    opacity: 0;
  }
  50% {
    transform: translateY(550px);
    opacity: 0;
  }

  80% {
    transform: translateY(-25px);
    opacity: 1;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.main-banner .background-text {
  position: absolute;
  width: 100%;
  top: 50px;
  font-size: 11rem;
  line-height: 10rem;
  text-align: center;
  font-weight: 900;
  color: rgb(244, 244, 244);
}

.main-banner .background-text span {
  display: inline-block;
  animation-name: flipText;
  animation-timing-function: ease;
}

@keyframes flipText {
  0% {
    transform: rotateX(100deg);
    opacity: 1;
  }
  100% {
    transform: rotateX(0deg);
    opacity: 1;
  }
}

.product-contents-container {
  margin-top: 32px;
}

.product-list-contianer h3 {
  font-weight: 800;
}
