<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="KBO 야구 구단의 유니폼, 모자, 의류, 잡화, 응원용품, 굿즈, 야구용품을 만나보세요!"
    />
    <meta property="og:locale" content="ko_KR" />
    <meta property="og:type" content="website" />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/components/Header/Header.css" />
    <link rel="stylesheet" href="Main.css" />
    <link rel="stylesheet" href="/components/Footer/Footer.css" />
    <link rel="stylesheet" href="/components/Product/Product.css" />

    <title>STRIKE ZONE</title>
  </head>
  <body>
    <section class="main-wrapper">
      <section class="main-banner">
        <div class="banner-content"></div>
      </section>
      <section class="product-contents-container"></section>
    </section>
    <script src="/components/Header/Header.js" type="module"></script>
    <script src="Main.js" type="module"></script>
    <script src="/components/Product/Product.js" type="module"></script>
    <script src="/components/Footer/Footer.js" type="module"></script>
    <script
      src="https://kit.fontawesome.com/a14c558b32.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
