<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/components/Admin/AdminLayout.css" />
    <link rel="stylesheet" href="./AdminCategory.css" />
    <title>STRIKE ZONE 관리자 페이지</title>
  </head>
  <body>
    <div class="content-container"></div>
    <script src="/components/Admin/AdminLayout.js" type="module"></script>
    <script src="./AdminCategory.js" type="module"></script>
  </body>
</html>
