footer {
  background-color: rgb(26, 26, 26);
}

footer .footer-wrapper {
  margin: 0 auto;
  padding: 60px 0 60px 0;
  max-width: 1136px;
  color: rgb(170, 170, 170);
  font-size: 14px;
}

footer .footer-wrapper div h2 {
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 16px;
}

footer .footer-wrapper ul {
  display: flex;
  margin-bottom: 12px;
}

footer .footer-wrapper ul div {
  margin-right: 20px;
}

footer .footer-wrapper ul li {
  margin-right: 14px;
}

footer .footer-wrapper ul li a {
  color: rgb(170, 170, 170);
}

footer .footer-wrapper p {
  font-weight: 500;
  color: rgb(124, 124, 124);
}
