<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <link rel="stylesheet" href="./Orders.css" />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/components/UserLayout/UserLayout.css" />
    <link rel="stylesheet" href="/components/Header/Header.css" />
    <link rel="stylesheet" href="/components/Footer/Footer.css" />
    <title>STRIKE ZONE</title>
  </head>
  <body>
    <div class="content-container"></div>
  </body>
  <script src="/components/Header/Header.js" type="module"></script>
  <script src="/components/Footer/Footer.js" type="module"></script>
  <script src="/components/UserLayout/UserLayout.js" type="module"></script>
  <script src="./Orders.js" type="module"></script>
</html>
