<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="./NotFound.css" />
    <title>STRIKE ZONE</title>
  </head>
  <body>
    <section class="not-found">
      <h1>4<img src="/assets/img/404/baseball2.jpg" alt="" />4</h1>
      <h2>페이지를 찾을 수 없습니다!</h2>
      <p>
        방문하시려는 페이지의 주소가 잘못 입력되었거나,<br />
        삭제되어 사용하실 수 없습니다.
      </p>
      <button class="previous" onclick="history.back()">이전 페이지</button>
    </section>
    <script
      src="https://kit.fontawesome.com/a14c558b32.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
