<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../css/reset.css">
  <link rel="stylesheet"  href="./ProductsList.css">
  <title>Document</title>
</head>
<body>
  <section class="products-wrapper">
    <div class="products">
    </div>
  </section>
  <script src="https://kit.fontawesome.com/a14c558b32.js" crossorigin="anonymous"></script>
  <!-- <script src="./app.js" type="module"></script> -->
  <script src="./ProductsList.js" type="module"></script>
</body>
</html>