<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/components/Header/Header.css" />
    <link rel="stylesheet" href="/components/Footer/Footer.css" />
    <link rel="stylesheet" href="FindPassword.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <title>STRIKE ZONE</title>
  </head>
  <body>
    <section class="find-password-wrapper">
      <h4 class="title is-4">비밀번호 찾기</h4>
      <form class="find-password-form">
        <div class="find-password-input">
          <input
            type="text"
            placeholder="이메일"
            class="input user-email"
            id="findId"
            required
            autocomplete="off"
          />
          <input
            type="text"
            placeholder="이름"
            class="input user-name"
            id="findName"
            required
            autocomplete="off"
          />
        </div>
        <button type="submit" class="button is-dark" id="findNext">
          확인
        </button>
      </form>
    </section>
    <script type="module" src="FindPassword.js"></script>
    <script type="module" src="/components/Header/Header.js"></script>
    <script type="module" src="/components/Footer/Footer.js"></script>
  </body>
</html>
