body {
  background-color: #f1f1f1;
}
.find-password-wrapper {
  margin: 100px auto;
  padding: 30px 30px 70px 30px;
  width: 500px;
  height: auto;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 1px 1px 32px -5px rgba(0, 0, 0, 0.11);
  -webkit-box-shadow: 1px 1px 32px -5px rgba(0, 0, 0, 0.11);
  -moz-box-shadow: 1px 1px 32px -5px rgba(0, 0, 0, 0.11);
  position: relative;
}
.find-password-wrapper > p {
  font-size: 25px;
  margin: 15px;
}
.find-password-form {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.find-password-input {
  width: 300px;
}
#findId {
  margin-bottom: 10px;
}
#findNext {
  margin-left: 20px;
  width: 150px;
  height: 90px;
}
.blank-space {
  min-height: 70vh;
}