<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="./ProductDetail.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
    />
    <title>홈런볼 마켓</title>
  </head>
  <body>
    <section class="product-detail-wrapper"></section>
    <script src="/js/header.js" type="module"></script>
    <script src="./ProductDetail.js" type="module"></script>
    <script src="/js/footer.js" type="module"></script>
  </body>
</html>
