@import 'https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma-rtl.min.css';

.product-detail-wrapper {
  max-width: 1136px;
  height: auto;
  margin: auto;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.product-basic-information-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 80px;
}

.product-image-view {
  width: 40rem;
  height: 500px;
  display: flex;
  flex-direction: row;
  margin-right: 52px;
}

.product-image-slider {
  width: 150px;
  height: inherit;
  white-space: nowrap;
  overflow-y: scroll;
  overflow-x: hidden;
}

.product-image-slider::-webkit-scrollbar {
  display: none;
}

.product-image-small {
  margin-bottom: 16px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(200, 200, 200);
  border-radius: 10px;
  width: 100px;
  height: 100px;
  overflow: hidden;
}

.product-image-small > img {
  width: inherit;
}

.product-image-big {
  min-width: 80%;
  height: 510px;
  width: 510px;
  border: 1px solid rgb(212, 212, 212);
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  margin-bottom: 18px;
}

.product-image-big:after {
  content: '';
  display: block;
  padding-top: 100%;
}

.product-image-big > img {
  width: inherit;
}

.product-basic-description-container {
  display: flex;
  flex-direction: column;
  width: 30rem;
}

.product-team {
  margin-bottom: 10px;
  color: rgb(113, 113, 113);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.8rem;
  border-radius: 4px;
}

.product-title {
  font-size: 28px;
  font-weight: 400;
  line-height: 2.3rem;
}

.product-short-description {
  color: rgb(80, 80, 80);
}

.product-price-information-container {
}

.product-discount-rate {
  display: inline-block;
  font-size: 32px;
  font-weight: 800;
  color: rgb(255, 95, 3);
  margin-right: 8px;
}

.product-count-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.product-count-container > label {
  min-width: 40px;
  line-height: 2.3rem;
}

.total-amount-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.total-amount-container > label {
  line-height: 2.2rem;
}

.total-amount-container > span {
  font-size: 20px;
  font-weight: 700;
}

.product-price {
  display: inline-block;
  text-decoration: line-through;
  font-weight: 400;
  color: rgb(145, 145, 145);
}

.product-selling-price {
  display: block;
  font-size: 32px;
  font-weight: 800;
}

.detail-description-container {
  margin: 0 auto;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
}

.buttons-container > .cart-button {
  flex-grow: 1;
  margin-right: 16px;
}
.buttons-container > .order-button {
  flex-grow: 2;
  background-color: rgb(255, 95, 3);
  color: #fff;
  border: none;
}

.buttons-container > .soldout-button {
  flex-grow: 1;
}

.tabs li.is-active a {
  border-bottom-color: rgb(255, 95, 3);
  color: rgb(255, 95, 3);
}
